spring:
  application:
    name: cns
  datasource:
    url: jdbc:mysql://localhost:3306/cns?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
    password: rootpass123
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: openid, profile, email
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            authorization-grant-type: authorization_code
            client-name: Google
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub
  jackson:
    deserialization:
      fail-on-unknown-properties: true

logging:
  level:
    root: WARN
    com.example.cns: DEBUG
    org.hibernate.orm.results: WARN

server:
  port: 8080

app:
  validation:
    max-subject-length: 50
    max-body-length: 500
